
.AppContainer {
  --app-padding-vertical: 12px;
  --app-padding-horizontal: 20px;
  width: calc(100vw - var(--app-padding-horizontal) * 2);
  min-height: calc(100vh - var(--app-padding-vertical) * 2);
  padding: var(--app-padding-vertical) var(--app-padding-horizontal);
}

.relative {
  position: relative;
}

.flex-gap {
  gap: 12px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.filters {
  text-transform: uppercase;
}

.CardsWithMap {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
}

.Cards {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.Card {
  /* border-color: #ffffff; */
  background-color: #646cff;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  width: 100%;
  position: relative;

  min-width: 250px;
  min-height: 250px;
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 250px;

  overflow: hidden;
}

.CardIndex {
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 1;
  /* text-decoration: underline; */
}

.CardName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: max-content;
  font-size: 1.6rem;
  font-weight: bold;
  z-index: 1;
}

.CardBg {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.CardBgCover {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

.CardOverlay {
  opacity: 0;
  
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 8px 12px;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.CardOverlayContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.CardOverlay:hover {
  opacity: 1;
}

.ChipsFather {
  position: relative;
}

.ChipsModal {
  position: absolute;
  top: 75%;
  left: 0;
  z-index: 3;

  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  display: grid;
  /* three columns equal */
  grid-template-columns: repeat(3, 1fr);
  /* gray border between */
  grid-gap: 20px;
  
  min-width: 100px;
  max-width: 450px;
}

.filterGroup {
  position: relative;
  display: flex;
  flex-direction: column;

  gap: 12px;
  color: #222222;

  background-color: rgba(255, 255, 255, 0.1);
}

.filterGroup::before, .filterGroup::after {
  content: '';
  position: absolute;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.25);
}

.filterGroup::before {
  inline-size: var(--line-thickness, 1px);
  block-size: 100%;
  inset-inline-start: calc(var(--line-offset, 12px) * -1);
  inset-block-start: 0;
}

.filterGroup::after {
  inline-size: 100%;
  block-size: var(--line-thickness, 1px);
  inset-inline-start: 0;
  inset-block-start: calc(var(--line-offset, 12px) * -1);
}

.inputWrapper {
  display: flex;
}

.CardOverlayContentRating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardOverlayContentRatingStars {
  display: flex;
  position: relative;
  height: 24px; /* Adjust based on your design */
  width: 120px; /* Adjust based on your design */
  background-color: #3330; /* Background color for empty stars */
  border-radius: 4px; /* Optional: for rounded corners */
}

.CardOverlayContentRatingStarsFilled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #555; /* Background color for filled stars */
  border-radius: 4px 0 0 4px; /* Optional: for rounded corners on the left side */
}

.CardOverlayContentRatingStarsEmpty {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%; /* Ensures it covers the whole area */
  background: url('public/star.svg') repeat-x; /* Path to your star outline image */
  background-size: contain; /* Adjust the size of your stars */
}

.CardOverlayContentInfo {
  display: flex;
  gap: 12px;

}

.directions {
  background-color: #646cff;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.25s;
  text-align: center;
}

.directions:hover {
  background-color: transparent;
  color: #646cff;
}

@media (prefers-color-scheme: light) {
  .ChipsModal {
    background-color: rgba(255, 255, 255, 0.95);
    color: #ffffff;
  }
  .directions {
    background-color: #646cff;
    color: #ffffff;
  }
  .directions:hover {
    background-color: #f9f9f9;
    color: #646cff;
  }
}